# Core depencencies
discord.py~=2.4.0
python-dotenv~=1.0.1
google-auth~=2.35.0
gspread~=6.1.4
APScheduler~=3.10.4

# Testing dependencies
pytest~=8.3.3
pytest-cov~=5.0.0
tox~=4.23.2
coverage~=7.6.1
pyhamcrest~=2.1.0
freezegun~=1.5.1
pytest-asyncio~=0.24.0
